.friends {
  max-width: 100px;
  border: 10px solid #00aabb;
  border-radius: 50%;
}
.quote {
  font-size: 25px;
  margin-bottom: 20px;
}

.character {
  font-size: 20px;
  text-align: right;
}

.App {
  height: 100%;
  display: flex;
  align-items: center;
}

.buttons {
  padding-top: 20px;
  text-align: right;
}

.photoCharacter {
  flex: 1;
  text-align: right;
  padding-right: 40px;
}
.container-bubble {
  flex: 2;
  text-align: left;
}

.speech-bubble {
  position: relative;
  background: #00aabb;
  border-radius: 0.4em;
  width: 400px;
  padding: 50px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 23px solid transparent;
  border-right-color: #00aabb;
  border-left: 0;
  border-bottom: 0;
  margin-top: -11.5px;
  margin-left: -23px;
}

/* This query was necessary for changing the size of the elements on mobile cellphone*/
@media only screen and (max-width: 800px) {
  /*welcome section media query*/

  .speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: 0.4em;
    width: 300px;
    padding: 40px;
  }

  .speech-bubble:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-bottom-color: #00aabb;
    border-top: 0;
    margin-left: -23px;
    margin-top: -23px;
  }

  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .photoCharacter {
    padding-top: 50px;
    padding-right: 0px;
  }
}
