/*this controls the colors*/

@mixin theme($color) {
  color: $color;
  background-color: $color;

  .buttons button {
    background-color: $color;
  }

  svg {
    fill: $color;
  }
}

.blue {
  @include theme(#02b1e2);
}

.red {
  @include theme(#e91e23);
}

.yellow {
  @include theme(#fabc16);
}
/*this controls the colors*/

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  text-shadow: 6px 5px 3px rgba(202, 202, 202, 0.69);
}

/*logo design*/
.container-logo {
  text-align: center;
}

.friends-logo {
  max-width: 100%;
  width: 350px;
  padding: 50px;
  margin-bottom: 50px;
}
/*logo design*/

/*photo and bubble design*/
.container-photo-and-bubble {
  display: flex;
  align-items: center;
}

.photo-character {
  flex: 1;
  text-align: right;
  padding-right: 40px;
}

.photo-friend {
  max-width: 100px;
  border: 10px solid white;
  border-radius: 50%;
}

.container-bubble {
  flex: 2;
  text-align: left;
}

.quote {
  font-size: 25px;
  margin-bottom: 20px;
}

.character {
  font-size: 20px;
  text-align: right;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  text-align: right;

  button {
    color: white;
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
  }
}
/*photo and bubble design*/

/*bubble design*/
.speech-bubble {
  position: relative;
  background: white;
  border-radius: 0.4em;
  width: 400px;
  padding: 50px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 23px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-bottom: 0;
  margin-top: -11.5px;
  margin-left: -23px;
}
/*bubble design*/

/* This query was necessary for changing the size of the elements on mobile cellphone*/
@media only screen and (max-width: 800px) {
  /*welcome section media query*/

  .speech-bubble {
    width: 300px;
    padding: 40px;
  }

  .speech-bubble:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-bottom-color: white;
    border-top: 0;
    margin-left: -23px;
    margin-top: -23px;
  }

  .container-photo-and-bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .photo-character {
    padding-bottom: 30px;
    padding-right: 0px;
  }
  .friends-logo {
    margin-bottom: 5px;
  }
}
