.friends-logo {
  max-width: 100%;
  width: 350px;
  padding: 50px;
  margin-bottom: 50px;
}
.container-logo {
  text-align: center;
}

.friends {
  max-width: 100px;
  border: 10px solid white;
  border-radius: 50%;
}
.quote {
  font-size: 25px;
  margin-bottom: 20px;
}

.character {
  font-size: 20px;
  text-align: right;
}

.container {
  display: flex;
  align-items: center;
}

.buttons {
  padding-top: 20px;
  text-align: right;

  button {
    color: white;
    font-size: 15px;
    padding: 10px 25px;
  }
}

.photoCharacter {
  flex: 1;
  text-align: right;
  padding-right: 40px;
}
.container-bubble {
  flex: 2;
  text-align: left;
}

.speech-bubble {
  position: relative;
  background: white;
  border-radius: 0.4em;
  width: 400px;
  padding: 50px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 23px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-bottom: 0;
  margin-top: -11.5px;
  margin-left: -23px;
}

.App {
  min-height: 100%;
  padding: 30px 0;
  text-shadow: 6px 5px 3px rgba(202, 202, 202, 0.69);
}

/* This query was necessary for changing the size of the elements on mobile cellphone*/
@media only screen and (max-width: 800px) {
  /*welcome section media query*/

  .speech-bubble {
    width: 300px;
    padding: 40px;
  }

  .speech-bubble:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-bottom-color: white;
    border-top: 0;
    margin-left: -23px;
    margin-top: -23px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .photoCharacter {
    padding-bottom: 30px;
    padding-right: 0px;
  }
  .friends-logo {
    margin-bottom: 5px;
  }
}
/*this controls the colors*/

@mixin theme($color) {
  color: $color;
  background-color: $color;

  .buttons button {
    background-color: $color;
  }

  svg {
    color: $color;
  }
}

.blue {
  @include theme(#02b1e2);
}

.red {
  @include theme(#e91e23);
}

.yellow {
  @include theme(#fabc16);
}
