@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Permanent Marker", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-image: url(/img/friends-logo.png);
  background-size: 200px auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
